<h1>
    {{ title }}
</h1>
<div>
    <h2>OIDC-provided information</h2>
    <div>
        You are
        <span *ngIf="! authenticated">not yet</span>
        logged in
        <span *ngIf="authenticated">as <em>{{ username }}</em> ({{ fullname }})</span>
        <p></p>
    </div>
    <div *ngIf="authenticated">
        <table>
            <tbody>
            <tr>
                <td class="data-label">Refresh token</td>
                <td>{{ refreshToken.substr( 0, 20 ) + " ... " + refreshToken.substr( -20 ) }}</td>
            </tr>
            <tr>
                <td class="data-label">Issued at</td>
                <td>{{ toSimpleISOString( refreshTokenObtainedAt ) }}</td>
            </tr>
            <tr>
                <td class="data-label">Expires at</td>
                <td>
                    {{ toSimpleISOString( refreshTokenExpiresAt ) }}
                    ({{ remainingRefreshTokenValidityPercent }}%)
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td class="data-label">Access token</td>
                <td>{{ accessToken.substr( 0, 20 ) + " ... " + accessToken.substr( -20 ) }}</td>
            </tr>
            <tr>
                <td class="data-label">Issued at</td>
                <td *ngIf="accessTokenObtainedAt !== null">{{ toSimpleISOString( accessTokenObtainedAt ) }}</td>
            </tr>
            <tr>
                <td class="data-label">Expires at</td>
                <td>
                    <span style="vertical-align: middle" *ngIf="remainingAccessTokenValidityPercent > 0">
                    {{ toSimpleISOString( accessTokenExpiresAt ) }}
                        ({{ remainingAccessTokenValidityPercent }}%)
                        &nbsp;
                        <dynamic-two-color-pie-chart
                            size="20"
                            progress="{{ 100 - remainingAccessTokenValidityPercent }}"
                            title="{{convertMsecToHHMMSS( remainingAccessTokenValidity) }}, {{ remainingAccessTokenValidityPercent }}%">
                        </dynamic-two-color-pie-chart>
                    </span>

                    <span *ngIf="remainingAccessTokenValidityPercent == 0">
                        Expired
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Server-provided information</h2>
        <table>
            <tbody>
            <tr>
                <td class="data-label">User info</td>
                <td><code>{{ userInfo }}</code></td>
            </tr>
            <tr>
                <td class="data-label">User secret</td>
                <td><code>{{ userSecret }}</code></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p></p>
        <!-- KEEP JUST IN CASE

        <button (click)="loadUserInfoFromResourceServer()"
                class="text"
                [disabled]="!authenticated">
            Load user info
        </button>

        <button (click)="loadSecretFromResourceServer()"
                class="text"
                [disabled]="!authenticated">
            Load secret
        </button>
        -->
        <button (click)="logout()"
                class="text"
                [disabled]="!authenticated">
            Logout
        </button>

        <button (click)="refresh()"
                class="text"
                [disabled]="!authenticated">
            Token refresh
        </button>

        <!-- KEEP JUST IN CASE
        <button (click)="openReloadModal()"
                class="text"
                [disabled]="!authenticated">
            Open Modal 1
        </button>
        -->
    </div>
</div>

<modal-dialog-box id="reload-modal">
    <h3>Your Single Sign-On session has expired</h3>
    <p>Please reload the application and authenticate again</p>
    <button (click)="reload()">Reload</button>
</modal-dialog-box>

